In [1]:
import pandas as pd
data = pd.read_csv("../gemini_affil_output.csv")
data.head()

,original_index,arxiv_id,extracted_authors,extracted_affiliations,extracted_countries,first_author_country
0,0,2501.00089,"[""John F. Wu""]","[""Space Telescope Science Institute, 3700 San ...","[""USA""]",USA
1,1,2501.12788,"[""Patrick O'Neill"", ""Adam Ingram"", ""Edward Nat...","[""School of Mathematics, Statistics and Physic...","[""UK"", ""UK"", ""USA"", ""Italy"", ""The Netherlands""...",UK
2,3,2501.12767,"[""G. Peron"", ""G. Morlino"", ""S. Gabici"", ""E. Am...","[""Istituto Nazionale di Astrofisica -- Osserva...","[""Italy"", ""Italy"", ""France"", ""Italy""]",Italy
3,4,2501.12760,"[""Jie Liu"", ""Zhi Li"", ""Juntai Shen""]","[""Shanghai Astronomical Observatory, Chinese A...","[""China"", ""China"", ""China""]",China
4,5,2501.12758,"[""Xiaolong He"", ""Guoliang L\textasciicircum u""...","[""School of Physical Science and Technology, X...","[""China"", ""China"", ""China"", ""China"", ""China"", ...",China

In [2]:
data.shape

(5765, 6)